html
  head
    title eliza
    style
      include ../css/temp.css
  body
    h1  ------Eliza Page-------
    h3 Hi..
    h1#username=name
    
    h3=date
    br
    

    form#chat_form(method='post')
      input#chat_input(type='text')
      input(type='submit', value='enter..')
      br
      br
      input(type='button'  id='logoutbutton' name='logoutbutton' value='logout..')
      input(type='button' id='getcbutton' name='getcbutton' value='getconv..')
      input(type='button' id='listcbutton' name='listcbutton' value='listconvs..')

      br
    
    p#chat_place=chat_place
    br
    br
    br

    br
    br
    br
    hr
    p#historyconvs

    br
    br
    br
    p
    


    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(type='text/javascript', src='../script/script.js')

