body {
    text-align: center;
    color: #3E3F3C;
    background-color: #F5F5F5;
    font-family: Open Sans;
}

#name-form
 {
    background-color: #BCCBCC;
}

#nameinput {
    padding: 9px;
    margin: 16px;
    margin-left: 20%;
    width: 40%;
}

#chat-place {
    height: 790px;
    overflow: auto;
}

