body {
    text-align: center;
    color: #3E3F3C;
    background-color: #F5F5F5;
    font-family: Open Sans;
}

#login-form
 {
    background-color: #BCCBCC;
}




#login-header {
    font-size: larger;
}


#g-recaptcha {
    width:800px; margin:0 auto
}

#reg-form
 {
    background-color: #BCCBCC;
}

#nameinput {
    padding: 9px;
    margin: 16px;
    margin-left: 20%;
    width: 40%;
}


#reg-header {
    font-size: larger;
}

#message{
    font-size: larger;
    background-color: gray;
    color: red;
}

#verify-form
 {
    background-color: #BCCBCC;
}

#nameinput {
    padding: 9px;
    margin: 16px;
    margin-left: 20%;
    width: 40%;
}


#verify-header {
    font-size: larger;
}

